@import url('libs/bootstrap.min.css');
@import url('libs/bootstrap-theme.min.css');
@import url('libs/font-awesome.min.css');


/* custom css */
.bg {
    background: url('/images/bg-chess.jpg') no-repeat center center;
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 350px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}

.jumbotron {
    margin-bottom: 40px;
    height: 350px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background:transparent;
    padding: 25px;
    position: relative;
}

#play-buttons {
    position: absolute;
    bottom: 10px;
    right: 30px;
}


/* shell */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.clearfix {
    padding-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
