<div class="container" id="login">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center">Login</h1>
        <form id="login-form">
            <div class="form-group">
                <label for="login-username">Username:</label>
                <input
                    type="text" class="form-control" id="login-username"
                    name="username" placeholder="username" autofocus
                >
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input
                    type="password" class="form-control" id="login-password"
                    name="password" placeholder="password"
                >
            </div>
            <div class="form-group text-right">
                <input type="submit" class="btn btn-primary" id="login-submit" value="Login">
                <input type="button" class="btn btn-default" id="login-cancel" value="Cancel "href="/">
            </div>
        </form>
        <p class="text-right">
            Need an account? <a href="/register">Register here.</a>
        </p>
        <div id="login-error">
            <!-- Login messages go here. -->
        </div>
    </div>
</div>
