<div class="col-xs-6 col-xs-offset-3">

    <div class="form-group">
        <label>Player Id (unchangeable)</label>
        <p class="well well-sm"><%= player.id %></p>
    </div>

    <div class="form-group">
        <label for="profile-username">Username</label>
        <p class="well well-sm editable"><%= player.username %></p>
        <div class="editing hidden">
            <input type="text" class="form-control" id="profile-username" name="username" value="<%= player.username %>">
            <button class="btn btn-default editing-save">Save</button>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-default" data-toggle="modal" data-target="#profile-password-modal">Change Password</button>
    </div>

    <div class="form-group">
        <label for="profile-email">Email</label>
        <p class="well well-sm editable"><%= player.email %></p>
        <div class="editing hidden">
            <input type="email" class="form-control" id="profile-email" name="email" value="<%= player.email %>">
            <button class="btn btn-default editing-save">Save</button>
        </div>
    </div>

    <div class="form-group">
        <label for="profile-description">Description</label>
        <p class="well well-sm editable"><%= player.description %></p>
        <div class="editing hidden">
            <textarea class="form-control" id="profile-description" name="description"><%= player.description %></textarea>
            <button class="btn btn-default editing-save">Save</button>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="profile-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>

            <div class="modal-body">
            ...
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
