<div class="container" id="register">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center">Registration</h1>
            <form class="form-signin" id="register-form">
                <div class="form-group">
                    <label for="register-username">Username</label>
                    <input
                        type="text" class="form-control" id="register-username"
                        name="username" placeholder="something clever" autofocus
                    >
                </div>
                <div class="form-group">
                    <label for="register-password">Password</label>
                    <input
                        type="password" class="form-control" id="register-password"
                        name="password" placeholder="choose wisely"
                    >
                </div>
                <div class="form-group">
                    <label for="register-password-confirm">Confirm Password</label>
                    <input
                        type="password" class="form-control" id="register-password-confirm"
                        name="password-confirm" placeholder="you know the drill, type it again"
                    >
                </div>
                <div class="form-group">
                    <label for="register-email">Email</label>
                    <input
                        type="email" class="form-control" id="register-email"
                        name="email" placeholder="you@your-real-email.com so we can send spam"
                    >
                </div>
                <div class="form-group text-right">
                    <input type="submit" class="btn btn-primary" id="register-submit" value="Register">
                    <input type="button" class="btn btn-default" id="register-cancel" value="Cancel "href="/">
                </div>
            </form>
            <p class="text-right">Have an account? <a href="/login">Login here.</a></p>
            <div id="register-error">
                <!-- Registration error messages go here. -->
            </div>
        </div>
    </div>
