<div class="bg"></div>

<div class="jumbotron">
    <h1>Upgradeable Chess Game<small> working title</small></h1>
    <p class="text-right" id="play-buttons">
        <a class="btn btn-primary btn-lg" href="login">
            Login
        </a>

        <a class="btn btn-warning btn-lg" href="register">
            Register
        </a>
    </p>
</div>

<div class="container">

    <h3>What is Lorem Ipsum?</h3>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book. It has survived not only five
    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
    passages, and more recently with desktop publishing software like Aldus PageMaker including
    versions of Lorem Ipsum.</p>

    <h3>Why do we use it?</h3>

    <p>It is a long established fact that a reader will be distracted by the readable content of a
    page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
    normal distribution of letters, as opposed to using 'Content here, content here', making it look
    like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
    as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
    their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
    purpose (injected humour and the like).</p>

    <h3>Where does it come from?</h3>

    <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
    of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
    Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
    words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
    classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
    and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
    written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
    Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
    section 1.10.32.</p>

    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
    interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also
    reproduced in their exact original form, accompanied by English versions from the 1914
    translation by H. Rackham.</p>

    <h3>Where can I get some?</h3>

    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
    suffered alteration in some form, by injected humour, or randomised words which don't look even
    slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
    isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
    Internet tend to repeat predefined chunks as necessary, making this the first true generator on
    the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
    sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum
    is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis enim sed mauris
    malesuada dictum. Etiam finibus magna mi, vitae tincidunt ex pellentesque sit amet. Vestibulum
    ullamcorper, lorem nec aliquet placerat, mauris lectus rutrum mauris, in sagittis nunc risus nec
    justo. Nulla quis ultricies dui. Curabitur ut fringilla tortor, sit amet tempus tortor. Etiam a
    enim in mi dapibus laoreet sed id sem. Vivamus blandit iaculis lacus eget pulvinar. Nullam
    ligula magna, tincidunt a mollis id, vulputate quis ligula. Morbi faucibus porta libero a
    faucibus. Sed venenatis, tortor eget sodales dignissim, libero turpis porttitor purus, consequat
    pulvinar turpis ipsum ac eros. Quisque tristique consequat elit non sagittis. Nam ut purus vitae
    ipsum ultrices feugiat. Nullam ante diam, finibus vel sem ut, lacinia venenatis nibh. Vivamus
    sit amet augue eget ligula rutrum venenatis ut vitae augue. Nunc facilisis ex sed posuere
    tincidunt.</p>

    <p>Aliquam gravida massa diam, sed dictum mauris dapibus sit amet. Proin mollis placerat
    ullamcorper. Nulla convallis metus nec neque pretium, id ultrices lorem lobortis. Pellentesque a
    nunc eu est bibendum pulvinar ac non sem. Nulla a mi pharetra, tempor ex consectetur, lacinia
    massa. Sed at neque eros. Morbi venenatis sed est at malesuada. Proin vel vehicula neque, quis
    interdum lacus. Praesent pulvinar, leo at congue rhoncus, nibh nulla vulputate justo, vitae
    condimentum nunc massa quis diam. Nam egestas lectus sed lacus pulvinar finibus. Pellentesque
    blandit convallis neque nec aliquet. Duis semper elit non est scelerisque, non tincidunt arcu
    varius. In nibh justo, tempor at molestie vitae, egestas vitae libero. Pellentesque habitant
    morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

    <p>Donec pulvinar vitae ex quis condimentum. Vestibulum tincidunt diam quis maximus fermentum.
    Morbi eget orci sit amet leo finibus porttitor. Interdum et malesuada fames ac ante ipsum primis
    in faucibus. Ut leo purus, bibendum id finibus vel, commodo nec diam. Aliquam tincidunt augue et
    hendrerit vehicula. Fusce justo felis, sodales ac dictum eu, consectetur at lacus.</p>

    <p>Etiam eget ex arcu. Phasellus commodo sit amet ligula id cursus. Ut porttitor viverra libero,
    ac fermentum sem egestas et. Curabitur at dolor sapien. Curabitur rhoncus tortor nec dui
    imperdiet tristique. Donec vel dolor faucibus felis rhoncus euismod. Vestibulum gravida quam
    libero, non euismod augue sagittis nec. In non nisl eu nulla varius auctor at a dolor.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In
    tincidunt tellus a quam ullamcorper gravida.</p>

    <p>Etiam non dui sem. Nunc urna nibh, elementum et dolor non, elementum pretium libero.
    Suspendisse potenti. Mauris quis urna semper, faucibus magna ac, tincidunt tortor. Mauris
    aliquam metus finibus pulvinar feugiat. Praesent placerat malesuada massa, non tincidunt libero
    efficitur sed. Maecenas suscipit elit id sollicitudin dignissim. Vivamus fermentum, enim ac
    vehicula volutpat, mi enim faucibus ipsum, ut molestie velit ante vel diam. Maecenas vel sem
    orci.</p>

</div>
